/* QCheckBox */
QCheckBox {
  outline:          transparent;

  font:             @RegularTextSelectListFont;
  color:            @fontColorPrimary;
}

QCheckBox:disabled{
  color:            @fontColorSecondary;
}

QCheckBox::indicator {
  width:  16px;
  height: 16px;
}

/* off */
QCheckBox::indicator:unchecked {
  image: url(:/resource/styles/genesis/qcheckbox/checkbox_off_normal.png);
}

QCheckBox::indicator:unchecked:hover {
  image: url(:/resource/styles/genesis/qcheckbox/checkbox_off_hover.png);
}

QCheckBox::indicator:unchecked:pressed {
  image: url(:/resource/styles/genesis/qcheckbox/checkbox_off_click.png);
}

QCheckBox::indicator:unchecked:disabled {
  image: url(:/resource/styles/genesis/qcheckbox/checkbox_off_disabled.png);
}

/* on */
QCheckBox::indicator:checked {
  image: url(:/resource/styles/genesis/qcheckbox/checkbox_on_normal.png);
}

QCheckBox::indicator:checked:hover {
  image: url(:/resource/styles/genesis/qcheckbox/checkbox_on_hover.png);
}

QCheckBox::indicator:checked:pressed {
  image: url(:/resource/styles/genesis/qcheckbox/checkbox_on_click.png);
}

QCheckBox::indicator:checked:disabled {
  image: url(:/resource/styles/genesis/qcheckbox/checkbox_on_disabled.png);
}

/* part */
QCheckBox::indicator:indeterminate {
  image: url(:/resource/styles/genesis/qcheckbox/checkbox_part_normal.png);
}

QCheckBox::indicator:indeterminate:hover {
  image: url(:/resource/styles/genesis/qcheckbox/checkbox_part_hover.png);
}

QCheckBox::indicator:indeterminate:pressed {
  image: url(:/resource/styles/genesis/qcheckbox/checkbox_part_click.png);
}

QCheckBox::indicator:indeterminate:disabled {
  image: url(:/resource/styles/genesis/qcheckbox/checkbox_part_disabled.png);
}
