@genesis_ui.qss

QPushButton
{
  outline:            transparent;

  font:               @RegularTextFont;

  padding:            @toolbarElementPadding;

  border:             none;

  color:              @textColorButton;

  background-color:   transparent;
}
