@page_navigation_brand_body.qss

QLabel#labelData 
@page_navigation_brand_section_label.qss

QLabel#labelCaption
@page_navigation_brand_section_label.qss

QLabel#labelCaption2
@page_navigation_brand_section_label.qss

QLabel#labelCaption3
@page_navigation_brand_section_label.qss

QLabel#labelDesign
@page_navigation_brand_section_label.qss

QLabel#labelProperties
@page_navigation_brand_section_label.qss

