QWidget
{
  background-color: @brandColorLighter;
  color:            @brandTextColorModeratePale;

  font: @fontSize @fontFace;
}

QLabel
{
  font: @fontSize @fontFace;
  color: @brandTextColorModerate;
}
