@ui_qwidget.qss
@ui_graphicsplot.qss
@ui_qabstractspinbox.qss
@ui_qabstractspinbox_editor.qss
@ui_qcheckbox.qss
@ui_qcheckbox_tumbler.qss
@ui_qcombobox.qss
@ui_qcombobox_editor.qss
@ui_qdialogbuttonbox.qss
@ui_qframe.qss
@ui_qlabel.qss
@ui_qlineedit.qss
@ui_qlineedit_editor.qss
@ui_qmenu.qss
@ui_qplaintextedit.qss
@ui_qpushbutton.qss
@ui_qpushbutton_qcommandlinkbutton.qss
@ui_qradiobutton.qss
@ui_qtableview.qss
@ui_qtextedit.qss
@ui_qscrollbar.qss
@ui_qsplitter.qss
