/* QRadioButton */
.QRadioButton {
  outline:          transparent;
}

.QRadioButton::indicator {
  width:  16px;
  height: 16px;
}

/* off */
.QRadioButton::indicator:unchecked {
  image: url(:/resource/styles/standard/qradiobutton/radiobutton_off_normal@hdpi.png);
}

.QRadioButton::indicator:unchecked:hover {
  image: url(:/resource/styles/standard/qradiobutton/radiobutton_off_hover@hdpi.png);
}

.QRadioButton::indicator:unchecked:pressed {
  image: url(:/resource/styles/standard/qradiobutton/radiobutton_off_click@hdpi.png);
}

.QRadioButton::indicator:unchecked:disabled {
  image: url(:/resource/styles/standard/qradiobutton/radiobutton_off_disabled@hdpi.png);
}

/* on */
.QRadioButton::indicator:checked {
  image: url(:/resource/styles/standard/qradiobutton/radiobutton_on_normal@hdpi.png);
}

.QRadioButton::indicator:checked:hover {
  image: url(:/resource/styles/standard/qradiobutton/radiobutton_on_hover@hdpi.png);
}

.QRadioButton::indicator:checked:pressed {
  image: url(:/resource/styles/standard/qradiobutton/radiobutton_on_click@hdpi.png);
}

.QRadioButton::indicator:checked:disabled {
  image: url(:/resource/styles/standard/qradiobutton/radiobutton_on_disabled@hdpi.png);
}

